body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to right, #59cac6, #e55027);
  color: #172125;
}

header {
  background: #3d5b79;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #fbff00;
}

section {
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(211, 104, 104, 0.1);
}

input, button, select {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #681515;
}

#productList div {
  margin: 10px 0;
  padding: 10px;
  background: #ffbb01;
  border-radius: 8px;
}
